html, body {
    margin: 1em;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(12, 1fr);
}

.grid-item {
    padding: .5em;
    font-size: 2em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
header {
    background-color: palegoldenrod;
    /* grid-column-start: 1;
    grid-column-end: 13; */
    grid-column: 1 / -1;
}

nav {
    background-color: lightcoral;
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}

/* 
Challenge:
   1. Add the necessary grid-column and grid-row 
   lines to complete this layout. Only write 
   the CSS you need - let the algorithm do the rest. 

 */

main {
    background-color: lightgreen;
}

aside {
    background-color: lightgray;
}

footer {
    background-color: gold;
}
    
